---
title:
date: <%= @date.strftime('%b %e, %Y') %>
author:
tags: 台灣基進,
slug: <%= @title.parameterize %>
image_original: news_page_img/[your post slug]/example.jpg
image_thumb: news_page_img/[your post slug]/example.jpg
---

<!--
Markdown 說明：
1. 如連結需要另外開分頁請使用 Html ：<a href="https://link" target="_blank">linkname</a>
2. 圖片儲存路徑： source / assets / images / news_page_img / [創建這篇文章的資料夾]
3. slug 為文章的網址連結，請使用英文空白請用 "-" ex. first-post
4. Markdown 文件內如要使用資料夾的圖片，連結為：
  ![圖片名稱](news_page_img/[your post slug]/example.jpg)
-->
