= javascript_include_tag "https://code.jquery.com/jquery-3.4.1.min.js"

= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"

= javascript_include_tag "/assets/js/vender/set-bgset.js"
= javascript_include_tag "/assets/js/vender/ls.bgset.min.js"

= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js"

= javascript_include_tag "/assets/js/vender/ls.unveilhooks.min.js"
= javascript_include_tag "/assets/js/vender/ls.video-embed.min.js"


