---
title: '台灣基進 | 踏實堅定'
---
- content_for :page_style do
  = stylesheet_link_tag :home

- content_for :page_js do
  = javascript_include_tag "/assets/js/index"

= partial "layouts/banner"
= partial "layouts/about"
= partial "layouts/about-img"
= partial "layouts/2020"
= partial "layouts/promote-bill"
= partial "layouts/candidate"
= partial "layouts/support"
= partial "layouts/news"
= partial "layouts/contact"
= partial "layouts/party-map"

= partial "layouts/popup/popup-layouts"





